In [9]:
# import libraries
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind
#for plots
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
#import data
data = pd.read_csv("data/cleaned_data.csv")
data.head()

,distance,consume,temp_inside,temp_outside,gas_type,ac,rain,sun,fuel_used,cost_of_trip,trip_in_hours,avg_speed
0,28.0,5.0,21.5,12,E10,0,0,0,1.4000,2.863,0.433333,64.615385
1,12.0,4.2,21.5,13,E10,0,0,0,0.5040,1.031,0.500000,24.000000
2,11.2,5.5,21.5,15,E10,0,0,0,0.6160,1.260,0.633333,17.684211
3,12.9,3.9,21.5,14,E10,0,0,0,0.5031,1.029,0.600000,21.500000
4,18.5,4.5,21.5,15,E10,0,0,0,0.8325,1.702,0.766667,24.130435

## 1. Null hypothesis (pesimistic - no change) 
## H0 = consumption of both fuels is the same
We run a one-sided ttest to determine if we accept of reject the null.

In [11]:
t_stat, p_val = ttest_ind(data[data.gas_type == "E10"].fuel_used, data[data.gas_type == "SP98"].fuel_used)

print("t-statistic:", t_stat)
print("p-value:", p_val)

t-statistic: 1.089091767035112
p-value: 0.27679289437741406

The p-value is equal to 0,2, meaning that is it is over the threshol of 0,05, meaning we can accept the hypothesis that the consumptions of both fuels is the same.

## 2. Null hypothesis (pesimistic - no change) 
## H0 = fuel types cost the same per trip
We run a one-sided ttest to determine if we accept of reject the null.

In [12]:
t_stat, p_val = ttest_ind(data[data.gas_type == "E10"].cost_of_trip, data[data.gas_type == "SP98"].cost_of_trip)

print("t-statistic:", t_stat)
print("p-value:", p_val)

t-statistic: 0.6629028015838113
p-value: 0.5077884541382895

The p-value is equal to 0,5, meaning that is it is over the threshold of 0,05, meaning we can accept the hypothesis that the fuel types cost about the same in each trip.

It is important to note that fuel praces have been varying intensively in the last years, therefore the tests will vary greatly depending on the prices. The tests would have to be run again with new prices.